.taskbar-container {
  height: 5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba($color: black, $alpha: 0.75);
  border-top: solid black 1px;
  display: flex;
  z-index: 10;
  position: fixed;
}
