.webstruct-content-container {
  height: 100%;
  width: 100%;
  .webstruct-frame {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
